/******************************************* 

    ADATR CSS SIMON RUNDELL CODEMONKEY DESIGN 
    December 2024
    
*******************************************/

/******************************************* 

    BASELINE STYLES
    
*******************************************/

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: calc(10px + 1vmin);
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}


a {
    font-weight: 500;
    color: #ff0000;
    text-decoration: inherit;
}

a:hover {
    color: #000000;
}



h1 {
    font-size: 2.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #000000;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

label {
    margin-bottom: 0.5rem;
  }
  
  label {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #757474; 
  }
  
  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    field-sizing: content;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .texttype {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    field-sizing: content;
    font-size: larger;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  
  textarea {
    /* width: 100%;
    height: 100px; */
    field-sizing: content;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  
  select {
    background-color: #282c34;
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  .sort-dropdown {
    width: 50%;
  }
  
  select.inverse {
    background-color: white;
    color: #282c34;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  option {
    background-color: #282c34;
    color: white;
  }
  
  option.inverse {
    background-color: white;
    color: #282c34;
  }
  
  p {
    text-wrap: pretty;
  }
  
  div {
    text-wrap: pretty;
  }

.fixedMessage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: smaller;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    max-height: 50%; 
    overflow: auto; 
    padding: 10px; 
    box-sizing: border-box; 
}

/******************************************* 

    HEADER
    
*******************************************/

.head-logo {
    width: 250px;
}

/******************************************* 

    CONTAINERS 
    
*******************************************/

.header-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100vw;
    padding: 5px;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%; 
    padding: 5px;
    box-sizing: border-box; 
}

.race-container {
    display: flex; 
    flex-direction: row; 
    width: 100%;
    height: 450px; 
    overflow: hidden;
    box-sizing: border-box;
    position: relative; 
}

.scheduled-races-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 50%;
    border: 1px solid #ff0000;
}

.results-container {
    position: absolute;
    left: 25px;
    top: 10%;
    width: 40%;
    padding: 10px;
    border: 3px solid #000000;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    border-radius: 15px;
    z-index: 99;
}

.results-header {
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: #9c9c9c;
    color: #ffffff;
}

.resultsheet {
    border-bottom: 1px solid #000000;
    padding: 2px 0; 
    margin: 2px 10px; 
}

.login-container {
    margin: 0 auto;
    top: 50%;
    width: 50vw;
    margin-top: 20px;
    min-width: 320px;
    max-width: 500px;
    z-index: 99;
  }

/******************************************* 

    TABLES 
    
*******************************************/

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
}

th, td {
    padding: 4px 6px;
    border: 1px solid #ddd;
    vertical-align: top;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

thead {
    background-color: #333;
    color: white;
}

thead th {
    background-color: #333;
    color: white;
}

tbody tr td {
    border: 1px solid #ddd;
}

.smallpad {
    display: flex;
    flex-direction: row;
    padding: 2px;
}

/******************************************* 

    MODAL
    
*******************************************/

.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Adjusted for semi-transparency */
}
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-content h2 {
    margin-top: 0;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
}

.modal-content ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.modal-content ul li:last-child {
    border-bottom: none;
}

.bet-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-collapse: collapse;
}

.bet-form td {
    padding: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group span {
    margin-right: 0.5rem;
}

.form-group-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
    padding-top: 1rem;
}

/******************************************* 

    PASSWORD
    
*******************************************/

.password-reminder {
    position: relative;
    font-size: 12px;
    color: #ccc;
    top: -15px;
  }

  .login-header {
    font-size: 1.5em;
    font-weight: bold;
    text-align:center;
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #282c34;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius:  8px;
    -o-border-radius: 8px;
    z-index: 99;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group-button {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  

/******************************************* 

    SMALL EFFECTS
    
*******************************************/

.central-overlay-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .central-overlay-spinner .spinner-content {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }


.box {
    border: 1px solid #000000;
    padding: 2px;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: red;
    color: white;
    font-size: smaller;
}

.vvsmall {
    border: 1px solid #717171;
    padding: 1px;
    background-color: #ffffff;
    font-size: 8px;
    border-radius: 5px;
    position: relative;
    top: -15px;
}

.small {
    border: 1px solid #717171;
    width: 100%;
    padding: 2px;
    background-color: #ffffff;
    font-size: 10px;
    border-radius: 5px;
    position: relative;
}

.smalltop {
    margin-top: 10px;
}

.trophy {
    width: 200px;
    height: auto;
}

.right {
    text-align: right;
    padding-right: 25px;
}

.rctitle {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff0000;
}

.atFront {
    z-index: 99;
}

.noborder {
    border: none;
}

.smallgap {
    margin-left: 10px;
}

.smalltop {
    margin-top: 10px;
}

.horiz-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/******************************************* 

    RACE
    
*******************************************/

.runner {
    position: absolute; /* Ensure runners are positioned relative to the race-container */
    transition: left 0.1s; /* Smooth transition for movement */
}

.runner img {
    width: 50px; 
    height: auto;
}

.runner span {
    display: block;
    margin-top: 5px;
}

/******************************************* 

    WINNINGS
    
*******************************************/

.winnings-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 150px;
    left: 10%;
    margin: 0 auto;
    border-collapse: collapse;
    z-index: 199;
    border: 3px solid #000000;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    width: 80%; 
    max-width: 600px; 
}

.winnings-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.winnings-header img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.winnings-header h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.winnings-text {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.5em;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.runner-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
}

.runner-details.show {
    max-height: 200px; /* Adjust this value as needed */
}

